.git
.gitignore
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.swp
.DS_Store
db
dbs/
data/
runinfo/
parsl/runinfo/
parsl/last_pipeline_run.json
js/node_modules/
dummy_ssh/
fasttarget_mac/.git
fasttarget_mac/databases/
fasttarget_mac/logs/
fasttarget_mac/organism/
opt/p2rank/.git
