TPW_CONTAINER_PREFIX=tpw_local
TPW_DB_DIR=./dbs/db
TPW_DATA_DIR=./data
TPW_FASTTARGET_DB_DIR=./fasttarget/databases
TPW_FASTTARGET_RUNTIME_DIR=./data/fasttarget/organism
TPW_FASTTARGET_LOG_DIR=./data/fasttarget/logs
TPW_DB_PASSWORD=changeme
TPW_DB_PORT_BIND=5432
TPW_WEB_PORT_BIND=8085
TPW_JBROWSE_PORT_BIND=3000
QUEUE_POLL_INTERVAL=5
# local pipeline stages that submit to the cluster use SSH credentials from ${HOME}/.ssh
SSH_HOSTNAME=CHANGE_ME
SSH_USERNAME=CHANGE_ME
SSH_WORKDIR=CHANGE_ME
SSH_CORES=4
