TPW_PROJECT_DIR=/home/dockeradmin/targetpathogenweb
TPW_DB_DIR=/home/dockeradmin/targetpathogenweb/dbs/db
FASTTARGET_HOST_DIR=/home/dockeradmin/fasttarget
QUEUE_POLL_INTERVAL=10
SSH_HOSTNAME=cluster.qb.fcen.uba.ar
SSH_USERNAME=agutson
SSH_WORKDIR=/home/agutson
SSH_CORES=16
