Django==4.2.4
django-allauth==0.54.0
django-environ==0.10.0
psycopg2-binary==2.9.6
redis==4.4.2
celery==5.3.1
django-extensions==3.2.3
tqdm==4.65.0
django-mathfilters==1.0.0
django-cors-headers==4.2.0
django-polymorphic==3.1.0
django-ckeditor==6.7.0
pandas==2.0.3
goatools==1.3.11
biopython==1.75
bgzip==0.4.0 
bcbio-gff==0.7.1 
parsl==2024.2.26
scp==0.14.5 
asgiref==3.6.0
sqlparse==0.4.4
django-crispy-forms
crispy-bootstrap4
matplotlib
lxml
ipython
django-debug-toolbar
parsl
parsl[monitoring]
scp
scpClient
scpClient
configparse
pythoncyc
networkx
crispy-bootstrap4
django-crispy-forms
numpy==1.24.4
rdkit
