{% extends '../base/masterpage.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: #f9f9f9;
    }
    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }
    h3 {
        color: #666;
        font-size: 18px;
        margin-top: 0;
        text-align: center;
    }
</style>
<div class="container">
<form id="add-parameter-form" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
           {{ form.param|as_crispy_field }}
        </div>
        <div class="col-6">
           {{ form.options|as_crispy_field }}
        </div>
        
    <button type="submit" class="btn btn-primary mr-2 ml-3" style="height: 50px;">Add Parameters</button>
</form>

<form id="finish-process-form" method="POST">
    {% csrf_token %}
    <input type="hidden" name="finish_process" value="true">
    <button type="submit" class="btn btn-success" style="height: 50px;">Finish</button>

</form>
</div>
<div class="container mt-5">
    <h2>Current filters</h2>
    <ul class="list-group">
        {% for arg in parameters %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Parameter Name: {{ arg.score_param_name }}<br>
                Option: {{ arg.name }}<br>
                Description: {{ arg.description }}
            </li>
        {% empty %}
            <li class="list-group-item">No selected filter.</li>
        {% endfor %}
    </ul>
</div>
<div>
    <!-- Displaying content here -->
    {% autoescape off %}
    {{ post.content|safe }}
    {% endautoescape %}
</div>

{% endblock %}

{% block footer %}
{% endblock %}
