{% extends '../base/masterpage.html' %}
{% load i18n %}
{% load custom_tags %}

{% block body %}


<h1>{% trans "Blastinson" %}</h1>
<body>
    <h1>Select an item and enter some text:</h1>
    <form method="POST">
        {% csrf_token %}  <label for="dropdown">Dropdown:</label>
        <select name="dropdown" id="dropdown">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br>
        <label for="text_input">Text Input:</label>
        <input type="text" name="text_input" id="text_input">
        <br>
        <button type="submit">Submit</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>

{% endblock %}


{% block footer %}
{% endblock %}