
{% load static %}
{% load i18n %}
{% load account socialaccount %}




{% block inner %}

<h1>TP Login Page</h1>



<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="primaryAction btn btn-primary" type="submit">Sign In </button>
</form>


    <script src="{% static 'bundle.js' %}"> </script>
{% endblock %}


