{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Set Password" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn tp-btn tp-btn--primary tp-btn-with-icon" type="submit" name="action">
            <span class="tp-btn-icon" aria-hidden="true">{% include "components/icons/key.html" %}</span>
            <span>{% translate 'Set Password' %}</span>
        </button>
    </form>
{% endblock %}
