databases/human_structures
databases/species_catalogue
databases/DEG*
databases/HUMAN*
databases/*.faa
singularity_sfi_files/
ftscripts/*.pyc
organism/
!organism/test
logs/
__pycache__/
*.yml
!config.yml
!config_test.yml
.vscode/*
.nextflow/
nextflow/work
nextflow/bin
nextflow/.nextflow.log*
!nextflow/config_nextflow_test.yml
