<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <title> {% trans "Target Pathogen" %} </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    {% block head %}

    {% endblock %}


</head>
<body>



<nav id="main_header" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tpwebapp:index' %}">{% trans "Target Pathogen" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       href="{% url 'tpwebapp:genomes_list' %}">{% trans "Genomes" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       href="{% url 'tpwebapp:form' %}">{% trans "bLAST" %}</a>
                </li>
                {% comment "This is an optional note for comments" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tpwebapp:index' %}">{% trans "Stats" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tpwebapp:index' %}">{% trans "About TP" %}</a>
                </li>
                {% endcomment %}
                {% if user.is_authenticated %}
                    <li id="user_dropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            {{  user.get_username }}
                        </a>
                        <div id="user_dropdown_menu" class="dropdown-menu">
                            {% comment "This is an optional note for comments" %}
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            {% endcomment %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <button class="btn btn-danger" type="submit">Logout</button>
                                </form>
                            </a>
                        </div>
                    </li>



                {% elif not disablelogin %}
                    Login
                {% endif %}



            </ul>



        </div>
    </div>


</nav>




    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            {% block body %}

            {% endblock %}
        </div>
    </div>
    <button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
        Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    </button>


<footer class="footer mt-auto py-3 bg-light">


    {% block footer %}
    <div class="container">
        <span class="text-muted">Footer</span>
    </div>
    {% endblock %}
</footer>

<script>


</script>

<script src="{% static 'bundle.js' %}"></script>

<style>
    .vertical-right-aligned {
        transform: rotate(-90deg);
        transform-origin: 100% 100%;
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 100;
    }
</style>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

</script>



{% block jsloaded %}


<script>
    $('#user_dropdown').click(function(){
        $('#user_dropdown_menu').toggleClass('show');
    });

    function jsloaded() {






    }

</script>


{% endblock %}




</body>
</html>