<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <title> {% trans "Target Pathogen" %} </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    {% block head %}

    {% endblock %}


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tpwebapp:index' %}">{% trans "Target Pathogen" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       href="{% url 'tpwebapp:genomes_list' %}">{% trans "Genomes" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tpwebapp:index' %}">{% trans "Stats" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tpwebapp:index' %}">{% trans "About TP" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <form class="d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                           aria-expanded="false"><span class="navbar-toggler-icon"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{% url 'tpwebapp:index' %}">{% trans "Ingresar" %}</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'tpwebapp:index' %}">{% trans "Mis Datos" %}</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'tpwebapp:index' %}">{% trans "Desloguearse"
                                %}</a></li>
                        </ul>
                    </li>
                </form>
            </ul>

        </div>
    </div>


</nav>

<main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            {% block body %}

            {% endblock %}
        </div>
    </div>
    <button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
        Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    </button>
</main>

<footer class="footer mt-auto py-3 bg-light">


    {% block footer %}
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
    {% endblock %}
</footer>

<script>


</script>

<script src="{% static 'bundle.js' %}"></script>

<style>
    .vertical-right-aligned {
        transform: rotate(-90deg);
        transform-origin: 100% 100%;
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 100;
    }
</style>


    <script src="{% static 'tellme/vendor/feedback/feedback.js' %}"></script>




<script type="text/javascript">
    $(function () {
        if (!$('#feedback-btn').length) {
            var $btn = $("{% filter escapejs %}{% include 'tellme/tpl-button.html' %}{% endfilter %}");
            $('body').append($btn);
            if (!$('#feedback-btn').length) {
                $btn.attr('id', 'feedback-btn');
            }
        }
        $.feedback({
            ajaxURL: "{% url 'tellme:post_feedback' %}",
            html2canvasURL: "{% block html2canvasURL %}{% static 'tellme/vendor/html2canvas/html2canvas.js' %}{%  endblock %}",
            feedbackButton: "#feedback-btn",
            initButtonText: "{% filter escapejs %}{%  include 'tellme/initButtonText.txt' %}{% endfilter %}",
            postHTML: false,
            tpl: {
                description: "{% filter escapejs %}{%  include 'tellme/tpl-description.html' %}{% endfilter %}",
                highlighter: "{% filter escapejs %}{%  include 'tellme/tpl-highlighter.html' %}{% endfilter %}",
                overview:        "{% filter escapejs %}{%  include 'tellme/tpl-overview.html' %}{% endfilter %}",
                submitSuccess:"{% filter escapejs %}{%  include 'tellme/tpl-submit-success.html' %}{% endfilter %}",
                submitError: "{% filter escapejs %}{%  include 'tellme/tpl-submit-error.html' %}{% endfilter %}"
            },
            initialBox: true
        });
    });
</script>

</script>

{% block jsloaded %}


<script>
    function jsloaded() {
    }

</script>


{% endblock %}

<link href="{% static 'tellme/vendor/feedback/feedback.css' %}" rel="stylesheet">

</body>
</html>