{% extends '../base/masterpage.html' %}
{% load i18n %}


{% block head %}

{% endblock %}

{% block body %}


    <h1>{{ protein.accession }}</h1>
    <table class="table table-striped">

        <tbody>
        <tr>
            <td>{% trans 'Protein' %}</td>
            <td>{{ protein.description }}</td>
        </tr>
        <tr>
            <td>{% trans 'Gene' %}</td>
            <td>{{ protein.gene }}</td>
        </tr>
        <tr>
            <td>{% trans 'Amino acids' %}</td>
            <td>{{ protein.size }}</td>
        </tr>
        <tr>
            <td>{% trans 'Status' %}</td>
            <td>{{ protein.status }}</td>
        </tr>

        <tr>
            <td>{% trans 'Assembly' %}</td>
            <td><a href="{% url 'tpwebapp:protein_list' protein.assembly_name %}">{{ protein.assembly_description }}</a></td>
        </tr>
        </tbody>
    </table>

    {% comment %}
    <div class="input-group">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>{% trans 'choose ...' %}</option>
            <option value="2">{% trans 'Fasta nt' %}</option>
            <option value="2">{% trans 'Fasta aa' %}</option>
            <option value="3">{% trans 'GFF' %}</option>

        </select>
        <button class="btn btn-outline-secondary" type="button">{% trans 'Downdload' %}</button>
    </div>
    {% endcomment %}

    <hr class="col-3 col-md-2 mb-5"/>

    <h2>{% trans 'Annotations' %}</h2>
    {% if annotations %}
        <table id="annotations_table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col"> {% trans 'DB' %}</th>
                <th scope="col"> {% trans 'Family' %}</th>
                <th scope="col"> {% trans 'Accession' %}</th>
                <th scope="col"> {% trans 'Name' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for annotation in annotations %}
                <tr>
                    <td>{{ annotation.db }}</td>
                    <td>{{ annotation.fam }}</td>
                    <td>{{ annotation.term }}</td>
                    <td>{{ annotation.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

        {% trans 'No annotations available' %}

    {% endif %}

    <hr class="col-3 col-md-2 mb-5"/>

    <h2>{% trans 'Sequence Features' %}</h2>

    {% if features %}

        <div id="div2"></div>

        <table id="features_table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col"> {% trans 'Start' %}</th>
                <th scope="col"> {% trans 'End' %}</th>
                <th scope="col"> {% trans 'DB' %}</th>
                <th scope="col"> {% trans 'Family' %}</th>
                <th scope="col"> {% trans 'Term' %}</th>
                <th scope="col"> {% trans 'Name' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for feature in features %}
                <tr>
                    <td>{{ feature.start }}</td>
                    <td>{{ feature.end }}</td>
                    <td>{{ feature.db }}</td>
                    <td>{{ feature.fam }}</td>
                    <td>{{ feature.term }}</td>
                    <td>{{ feature.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

        {% trans 'No feature detected in the sequence' %}

    {% endif %}

    <div id="protein-sequence-viewer"></div>

    <hr class="col-3 col-md-2 mb-5"/>



    <div>

        {% if structure.pockets %}
            <h4>Pockets</h4>
            <table id="pocketsTable" class="table">
                <thead><tr><td>Nro</td><td>Atoms</td><td>Spheres</td><td>Druggability</td><td>Labels</td></tr></thead>
                <tbody>

                {% for p in structure.pockets %}

                    <tr>
                        <td>{{p.name}}</td>
                        <td><input type="checkbox" onchange="toogle_view('{{p.name}}_atm')" /></td>
                        <td><input type="checkbox"  onchange="toogle_view('{{p.name}}_pol');toogle_view('{{p.name}}_apol')"/></td>
                        <td>{{p.druggability}}</td>
                        <td><input type="checkbox" onchange="toogle_view('{{p.name}}_lbl')" /></td>
                        <td><input type="button" onclick="ngl_zoom_to('{{p.name}}_lbl')" value="Zoom" /></td>

                        <td> <input type="button" class="button" value="positions"
                                    onclick="alert('{{ p.residues | join:" " }}')"
                        />  </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if structure.residuesets %}
            <h4>Features</h4>
            <table id="residuesetsTable" class="table">
                <thead><tr><td>Type</td><td>Name</td><td>View</td><td>Positions</td><td>Positions</td></tr></thead>
                <tbody>
            {% for rs in structure.residuesets %}
                <tr>
                    <td>{{ rs.rs_name }}</td>
                    <td> <a title="{{ rs.description }}">{{rs.description}}</a> </td>
                    <td><input type="checkbox"  onchange="toogle_view('{{rs.name}}')"></td>
                    <td><input type="button" onclick="ngl_zoom_to('{{rs.name}}')" value="Zoom" /></td>
                    <td> <input type="button" class="button" value="positions"
                                onclick="alert('{{ rs.residues | join:" " }}')"
                    />  </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>

        {% endif  %}

    </div>

    {% if structure %}
    <input type="button" onclick="ngl_reset_zoom()" value="Reset zoom" />
    <div id="viewport" style="height: 500px;background-color: white"></div>
    {% endif %}

    <div id="msaDiv"></div>

{% endblock %}



{% block jsloaded %}

    {{ graphic_features|json_script:"seqfeatures" }}

    <script>
        function jsloaded() {

            var seq1 = new SeqView("{{ protein.seq }}");

            seq1.render('#protein-sequence-viewer', {
                'showLineNumbers': true,
                'wrapAminoAcids': true,
                'charsPerLine': 50,
                'toolbar': false,
                'search': false,
                'title': '{{ protein.name }}',
                'sequenceMaxHeight': "300px",
                'badge': true
            });

            //function called by "onclick"
            /*var onclickFun = function(e) {
                console.log("Region clicked");
            }*/

//Coverage list
            /*
            var exempleSequenceCoverage = [
                {start: 0, end: 25, color: "black", underscore: false, bgcolor: "#ffd891"},
                {start: 25, end: 47, color: "#ff0000", underscore: false, tooltip: "this is a tooltip"},
                {start: 47, end: 54, color: "#ff0000", underscore: true},
                {start: 54, end: 55, color: "#ff0000", underscore: false},
                {start: 55, end: 56, color: "black", underscore: false},
                {start: 56, end: 89, color: "#69CC33", underscore: false, onclick:onclickFun},
                {start: 89, end: 90, color: "black", underscore: false},
                {start: 90, end: 110, color: "#ff0000", underscore: false}
            ];



            seq1.coverage(exempleSequenceCoverage);*/
// for coverage + highlight :
// seq3.coverage(exempleSequenceCoverage, start, end, highlightColor);

//Define Legend and color codes
            /*
            var exempleLegend = [
                {name: "Mature Protein", color: "#ff0000", underscore: false},
                {name: "Proteotypic peptide", color: "#69CC33", underscore: false},
                {name: "Synthetic peptide",color: "#fff",underscore: true}
            ];
            seq1.addLegend(exempleLegend);
    */


            //-----------------------------------------------------------------------

            //Create a new Feature Viewer and add some rendering options
            const seq3 = "{{ protein.seq }}"
            var ft2 = new FeatureViewer.createFeature(seq3, "#div2", {
                showAxis: true,
                showSequence: true,
                brushActive: true,
                toolbar: true,
                bubbleHelp: true,
                zoomMax: 10
            });
            const seqfeatures = JSON.parse(document.getElementById('seqfeatures').textContent);
            seqfeatures.forEach(f =>  ft2.addFeature(f));
            $(".add-variant-btn").parent().remove()

            $('#features_table').dataTable();
            $('#annotations_table').dataTable();

            const representations = {};
            const visible = {};
            window.toogle_view = null;
            window.ngl_zoom_to = null;
            window.ngl_reset_zoom = null;

            var stage = new NGL("viewport", {backgroundColor: "grey"});
            window.representations = representations;

            {% if structure %}

            stage.loadFile("{% url "tpwebapp:structure_raw" structure.id %}",
                {ext: "pdb", defaultRepresentation: false}).then( function( component ){
                    window.ngl_reset_zoom = () => {
                        component.autoView()
                    }
                    toogle_view = (repr) => {
                        visible[repr] = !visible[repr];
                        representations[repr].setVisibility(visible[repr] );


                    };
                    ngl_zoom_to = (repr) => {
                        component.autoView(representations[repr].parameters.sele);

                    };

                component.addRepresentation( "cartoon", {
                    aspectRatio: 3.0,
                    scale: 1.5,
                    sele: "backbone and :A" //,color:"blue"
                } );
                    {% for p in structure.pockets %}
                        representations["{{p.name}}_apol"] =  component.addRepresentation( "surface", {
                            sele: "STP AND .APOL AND {{p.name}}",
                            multipleBond: false,
                            color:"white"

                        } );

                        representations["{{p.name}}_pol"] = component.addRepresentation( "surface", {
                            sele: "STP AND .POL AND {{p.name}}",
                            multipleBond: false,
                            color:"black"

                        } );

                        visible["{{p.name}}_pol"] = false;
                        visible["{{p.name}}_apol"] = false;
                        representations["{{p.name}}_pol"].setVisibility(false);
                        representations["{{p.name}}_apol"].setVisibility(false);

                        representations["{{p.name}}_atm"] =  component.addRepresentation( "ball+stick", {
                            sele: 'NOT STP AND NOT water AND @{{p.atoms|join:","}}',
                            color:"purple"
                        } );
                        visible["{{p.name}}_atm"] = false;
                        representations["{{p.name}}_atm"].setVisibility(false);


                        representations["{{p.name}}_lbl"] = component.addRepresentation( "label", {
                            labelType: "atom",
                            sele: 'NOT STP AND @{{p.atoms|join:","}}',
                        } );
                        visible["{{p.name}}_lbl"] = false;
                        representations["{{p.name}}_lbl"].setVisibility(false);

                    {% endfor %}

                    {% for rs in structure.residuesets %}
                        representations["{{rs.name}}"] =  component.addRepresentation( "ball+stick", {
                            sele: ':A AND ({{rs.residues|join:" OR "}})'


                        } );
                        visible["{{rs.name}}"] = false;
                        representations["{{rs.name}}"].setVisibility(false);
                    {% endfor %}



                    {% if pockets|length > 5 %}
                        $('#pocketsTable').DataTable({"searching": false,pageLength:5, paging: true,"lengthChange": false,
                            "order": [[ 3, "desc" ]] });
                    {% endif %}

                    {% if  structure.residuesets|length > 5 %}
                        $('#residuesetsTable').DataTable({"searching": true,pageLength:10, paging: true,"lengthChange": false,
                            "order": [[ 3, "desc" ]] });
                    {% endif %}



                    component.autoView();

            }
            );

            {% endif %}

            const opts = {};
            opts.el = '#msaDiv';
            //opts.importURL = "https://www.ebi.ac.uk/Tools/services/rest/mafft/result/mafft-I20230125-195028-0399-51473931-p1m/aln-fasta";
            opts.vis = {

                labelId: false,
                conserv: true,
                overviewbox: false,
                seqlogo: true,
            };
            opts.zoomer = {
                boxRectHeight: 1,
                boxRectWidth: 1,
                labelNameLength: 230,
                alignmentHeight: window.innerHeight * 0.8,
                labelFontsize: 12,
                labelIdLength: 50,
                leftOffset: 204
            };

            /*
            Fasta.read('https://www.ebi.ac.uk/Tools/services/rest/mafft/result/mafft-I20230218-223104-0796-57722923-p2m/aln-fasta',
                function (err, seqs) {

                    //seqs.forEach(seq => {
                    //    seq.id = seq.name;
                    //    seq.name = tree_data[seq.id + "__"].organism;
                    //});
                    opts.seqs = seqs;
                    delete Array.prototype.at;
                    const m = msa(opts);
                    m.render();
                    //const m = msa(opts);
                    //$('#msaDiv').data(m);
                    //m.seqs.reset(seqs);

                });*/

        }

        $(document).ready(jsloaded)
        //document.addEventListener("load", jsloaded);


    </script>













{% endblock %}

{% block footer %}
{% endblock %}