<svg viewBox="0 0 16 16" fill="none" aria-hidden="true">
    <path d="M6.651 4.313A7.53 7.53 0 0 1 8 4c4.243 0 6.667 4 6.667 4a11.82 11.82 0 0 1-1.762 2.251" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.319 5.572C2.423 6.752 1.333 8 1.333 8s2.424 4 6.667 4a7.1 7.1 0 0 0 2.149-.319" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6.587 6.587a2 2 0 0 0 2.826 2.826" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="m2 2 12 12" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
